    <h1>Filtrado para la busqueda de archivos por implementar</h1>
    
    <div>
        <h1 class="titulo text-center">Historial de Archivos</h1>
    </div>

    <div class="table-responsive">        
        <table class="table table-bordered table-bordered">
            <thead>
                <tr>
                    <th>Facultad</th>
                    <th>Carrera</th>
                    <th>Área</th>
                    <th>Subárea</th>
                    <th>Serie</th>
                    <th>Subserie</th>
                    <th>Periodo/Año</th>
                    <th>Archivo pdf</th>
                    <th>Asunto</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {{#each notes}}
                    <tr>
                        <td>{{facultad}}</td>
                        <td>{{carrera}}</td>
                        <td>{{area}}</td>
                        <td>{{subArea}}</td>
                        <td>{{tipoDocumento}}</td>
                        <td>{{subTipoDocumento}}</td>
                        <td>{{periodo}}</td>
                        <td>{{pdfArchivo}}</td>
                        <td>{{asunto}}</td>
                        <td>{{observaciones}}</td>
                        <td>
                            <a href="/notes/edit/{{_id}}" class=" btn btn-success btn-sm">
                                <i class="fas fa-edit"></i>
                                <span class="ml-2">Editar</span>
                            </a>
                            
                            <!-- DELETE REQUEST -->
                            <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST" class="d-inline">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i>
                                    <span class="ml-2">Eliminar</span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="mt-4">
        <a href="/notes/add" class="btn btn-primary">Nuevo</a>
        <a href="/search-archive" class="btn btn-primary">Buscar</a>
    </div>
</body>
</html>

<script src="/js/script.js"></script>