    <div>
        <h1 class="titulo text-center">Historial de Archivos</h1>
    </div>

    <div class="table-responsive">        
        <table class="table table-bordered table-bordered">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Facultad</th>
                    <th>Carrera</th>
                    <th>Área</th>
                    <th>Subárea</th>
                    <th>Serie</th>
                    <th>Subserie</th>
                    <th>Periodo/Año</th>
                    <th>Archivo pdf</th>
                    <th>Asunto</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {{#each notes}}
                    <tr>
                        <td>{{@index}}</td>
                        <td>{{facultad}}</td>
                        <td>{{carrera}}</td>
                        <td>{{area}}</td>
                        <td>{{subArea}}</td>
                        <td>{{tipoDocumento}}</td>
                        <td>{{subTipoDocumento}}</td>
                        <td>{{periodo}}</td>
                        <td>{{pdfArchivo}}</td>
                        <td>{{asunto}}</td>
                        <td>{{observaciones}}</td>
                        <td>
                            <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                            <!-- DELETE REQUEST -->
                            <form id="deleteForm" action="/notes/delete/{{_id}}?_method=DELETE" method="POST" class="d-inline">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

   <div class="mt-4">
        <a href="/notes/add" class="btn btn-primary">Nuevo</a>
        <a href="/search" class="btn btn-primary">Buscar</a>
   </div>


<script src="/js/script.js"></script>