<div>
    <h1 class="titulo text-center">Historial de Archivos</h1>
</div>

<div class="table-responsive">
    <table id="archiveTable" class="table table-bordered">
        <thead>
            <tr>
                <th>N°</th>
                <th>Facultad</th>
                <th>Carrera</th>
                <th>Área</th>
                <th>Subárea</th>
                <th>Serie</th>
                <th>Subserie</th>
                <th>Periodo/Año</th>
                <th>Codificación</th>
                <th>N° Folio</th>
                <th>Asunto</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        
       {{#if isAdmin}}
        <tbody>
            {{#each notes}}
            <tr>
                <td>{{@index}}</td>
                <td>{{facultad}}</td>
                <td>{{carrera}}</td>
                <td>{{area}}</td>
                <td>{{subArea}}</td>
                <td>{{tipoDocumento}}</td>
                <td>{{subTipoDocumento}}</td>
                <td>{{periodo}}</td>
                <td>{{codigoCodificacion}}</td>
                <td>{{numPaginas}}</td>
                <td>{{asunto}}</td>
                <td>{{observaciones}}</td>
                <td>
                    <div class="btn-group" role="group">

                        <a href="/notes/view/{{_id}}" class="btn btn-info btn-sm common-btn" target="_blank">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span class="ml-2">Visualizar</span>
                        </a>

                    </div>

                </td>
            </tr>
            {{/each}}
        </tbody>
        {{else}}
        <tbody>
            {{#each notes}}
            <tr>
                <td>{{@index}}</td>
                <td>{{facultad}}</td>
                <td>{{carrera}}</td>
                <td>{{area}}</td>
                <td>{{subArea}}</td>
                <td>{{tipoDocumento}}</td>
                <td>{{subTipoDocumento}}</td>
                <td>{{periodo}}</td>
                <td>{{codigoCodificacion}}</td>
                <td>{{numPaginas}}</td>
                <td>{{asunto}}</td>
                <td>{{observaciones}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="/notes/edit/{{_id}}" class="btn btn-success btn-sm common-btn">
                            <i class="fas fa-edit"></i>
                            <span class="ml-2">Editar</span>
                        </a>

                        <!-- DELETE REQUEST -->
                        <form id="deleteForm" action="/notes/delete/{{_id}}?_method=DELETE" method="POST"
                            class="d-inline">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="button" class="btn btn-danger btn-sm common-btn" onclick="confirmDelete()">
                                <i class="fas fa-trash-alt"></i>
                                <span class="ml-2">Eliminar</span>
                            </button>
                        </form>

                        <!-- Script para mostrar el mensaje de confirmación -->
                        <script>
                            function confirmDelete() {
                                var result = confirm("¿Está seguro que desea eliminar este archivo?");
                                if (result) {
                                    // Si el usuario hace clic en "Sí", entonces envía el formulario
                                    document.getElementById("deleteForm").submit();
                                }
                            }
                        </script>

                        <a href="/notes/view/{{_id}}" class="btn btn-info btn-sm common-btn" target="_blank">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span class="ml-2">Visualizar</span>
                        </a>

                    </div>

                </td>
            </tr>
            {{/each}}
        </tbody>
        {{/if}}
    </table>
</div>

<div class="mt-4">
    <a href="/notes/add" class="btn btn-primary">
        <i class="fas fa-plus"></i> <!-- Ícono -->
        <span class="ml-2">Nuevo</span> <!-- Texto con margen a la izquierda (ml-2) -->
    </a>
</div>
<!-- DataTables CSS and JavaScript files -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<!-- DataTables Spanish Language File -->
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"></script>

<script src="/js/script.js"></script>
<script>
    // Configuración de DataTables
    $(document).ready(function () {
        $('#archiveTable').DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            scrollX: true // Esta opción permite que la barra de desplazamiento horizontal aparezca
        });
    });
</script>
