<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header bg-dark text-center">
            <h3 class="text-white">Nuevo Archivo</h3>
        </div>



        <div class="card-body text-right">
            <form action="/notes/new-notes" method="POST" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="carrera">Carrera:</label>
                    <select id="carrera" name="carrera" onchange="actualizarSubArea('{{#each user}}{{rol}}{{/each}}')">
                        <option value=""></option>
                        <option value="Computación">Computación</option>
                        <option value="Software">Software</option>
                    </select>
                    <br>
                </div>
                <!--
                <div class="mb-3">
                    <label for="area">Área:</label>
                    <select id="area" name="area" onchange="actualizarSubArea()">
                        <option value=""></option>
                        <option value="Decanato">Decanato</option>
                        <option value="Subdecanato">Subdecanato</option>
                        <option value="Jefatura de Departamento">Jefatura de Departamento</option>
                    </select>
                    <br>
                </div>
-->

                <div class="mb-3">
                    <label for="subArea">Subárea:</label>
                    <select id="subArea" name="subArea"
                        onchange="actualizarTipoDocumento('{{#each user}}{{rol}}{{/each}}')">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="tipoDocumento">Tipo de Documento:</label>
                    <select id="tipoDocumento" name="tipoDocumento"
                        onchange="actualizarSubtipoDocumento('{{#each user}}{{rol}}{{/each}}')">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="subTipoDocumento">Subtipo de Documento:</label>
                    <select id="subTipoDocumento" name="subTipoDocumento"
                        onchange="actualizarPeriodo('{{#each user}}{{rol}}{{/each}}')">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="periodo">Perido/Año:</label>
                    <select id="periodo" name="periodo"
                        onchange="actualizarCodigoCodificacion('{{#each user}}{{rol}}{{/each}}')">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="codigoCodificacion">Codificación:</label>
                    <input type="text" id="codigoCodificacion" name="codigoCodificacion" readonly>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="pdfArchivo">Archivo PDF:</label>
                    <input type="file" id="pdfArchivo" name="pdfArchivo" accept=".pdf">
                    <br>
                </div>

                <div class="mb-3">
                    <label for="asunto">Asunto:</label>
                    <textarea id="asunto" name="asunto" rows="3" cols="35"></textarea>
                    <!-- Puedes ajustar rows y cols según tus necesidades -->
                    <br>
                </div>

                <div class="mb-3">
                    <label for="observaciones">Observaciones:</label>
                    <textarea id="observaciones" name="observaciones" rows="3" cols="35"></textarea>
                    <!-- Puedes ajustar rows y cols según tus necesidades -->
                    <br>
                </div>

                <div class="d-flex justify-content-between mb-3">
                    <a href="/notes" class="btn btn-primary"><i class="fas fa-times"></i> Cancelar</a>
                    <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="/js/script.js"></script>   