<div>
  <h1 class="titulo">Historial de Usuarios Creados</h1>
</div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {{#each users}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{rol}}</td>
                        <td>{{email}}</td>
                        <td>
                            <a href="/administration/update/{{_id}}"><i class="fas fa-edit"></i></a>
                            <!-- DELETE REQUEST -->
                           <!-- <form action="/administration/delete/{{_id}}?_method=DELETE" method="POST" class="d-inline">
                            
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form> --> 
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>




    <p class="d-inline-flex gap-1">
  <a class="btn btn-primary"  href="/administration/add" role="button" >
    Crear Usuario
  </a>
</p>





<script>
  function desbloquearInput() {
    var input = document.getElementById('miInput');
    input.disabled = !input.disabled;
  }
</script>








    
        
