<div>
  <h1 class="titulo">Historial de Usuarios Creados</h1>
</div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Facultad</th>
                    <th>Rol</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {{#each users}}
                    <tr>
                        <td>{{name}}</td>
                        <td class="text-uppercase">{{facultad}}</td>
                        <td>{{rol}}</td>
                        <td>{{email}}</td>
                        <td>
                            <a href="/administration/update/{{_id}}"><i class="fas fa-edit"></i></a>
                            <!-- DELETE REQUEST -->
                            <form action="/administration/delete/{{_id}}?_method=DELETE" method="POST" class="d-inline">
                            
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>




    <p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
    Crear Usuario
  </a>
</p>
<div class="collapse" id="collapse1">
  <div class="card card-body">
    <form method="post" action="/administration/add">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input  class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="exampleInputPassword1" required>
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirmar contraseña</label>
    <input type="password" class="form-control" name="confirm_password" id="exampleInputPassword1" required>
  </div>

  <div class="mb-3">
    <label for="facultad">Facultad:</label>
    <select class="form-select" aria-label="Default select example" name="facultad" required>
      <option value="fis">FIS</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Rol</label>
    <select class="form-select" aria-label="Default select example" name="rol">
      <option selected>Seleccionar Rol</option>
      <option value="admin">Administrador</option>
      <option value="decanato-fis">Decanato</option>
      <option value="subdecanato-fis">Subdecanato</option>
      <option value="jefatura-fis">Jefatura</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
  </div>
</div>

<script>
  function desbloquearInput() {
    var input = document.getElementById('miInput');
    input.disabled = !input.disabled;
  }
</script>








    
        
