<div>
    <h1 class="titulo text-center">Historial de Documentos</h1>
</div>

<div class="table-responsive">
    <table id="archiveTable" class="table table-bordered">
        <thead>
            <tr>
                <th>N°</th>
                <th>Facultad</th>
                <th>Carrera</th>
                <th>Área</th>
                <th>Subárea</th>
                <th>Serie</th>
                <th>Subserie</th>
                <th>Periodo/Año</th>
                <th>Codificación</th>
                <th>N° Folio</th>
                <th>Asunto</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>

        {{#if isAdmin}}
        <tbody>
            {{#each notes}}
            <tr>
                <td>{{@index}}</td>
                <td>{{facultad}}</td>
                <td>{{carrera}}</td>
                <td>{{area}}</td>
                <td>{{subArea}}</td>
                <td>{{tipoDocumento}}</td>
                <td>{{subTipoDocumento}}</td>
                <td>{{periodo}}</td>
                <td>{{codigoCodificacion}}</td>
                <td>{{numPaginas}}</td>
                <td>{{asunto}}</td>
                <td>{{observaciones}}</td>
                <td>
                    <div class="btn-group" role="group">

                        <a href="/notes/view/{{_id}}" class="btn btn-info btn-sm common-btn" target="_blank">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span class="ml-2">Visualizar</span>
                        </a>

                    </div>

                </td>
            </tr>
            {{/each}}
        </tbody>
        {{else}}
        {{#if isEditor}}
        <tbody>
            {{#each notes}}
            <tr>
                <td>{{@index}}</td>
                <td>{{facultad}}</td>
                <td>{{carrera}}</td>
                <td>{{area}}</td>
                <td>{{subArea}}</td>
                <td>{{tipoDocumento}}</td>
                <td>{{subTipoDocumento}}</td>
                <td>{{periodo}}</td>
                <td>{{codigoCodificacion}}</td>
                <td>{{numPaginas}}</td>
                <td>{{asunto}}</td>
                <td>{{observaciones}}</td>
                <td>
                    <div class="btn-group" role="group">

                        <a href="/notes/view/{{_id}}" class="btn btn-info btn-sm common-btn" target="_blank">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span class="ml-2">Visualizar</span>
                        </a>

                        <div class="btn-group" role="group">
                            <a href="/notes/edit/{{_id}}" class="btn btn-success btn-sm common-btn">
                                <i class="fas fa-edit"></i>
                                <span class="ml-2">Editar</span>
                            </a>

                            <a href="/notes/delete/{{_id}}" class="btn btn-danger btn-sm common-btn">
                                <i class="fa-solid fa-trash-can"></i>
                                <span class="ml-2">Eliminar</span>
                            </a>

                        </div>

                </td>
            </tr>
            {{/each}}
        </tbody>
        {{else}}
        <tbody>
            {{#each notes}}
            <tr>
                <td>{{@index}}</td>
                <td>{{facultad}}</td>
                <td>{{carrera}}</td>
                <td>{{area}}</td>
                <td>{{subArea}}</td>
                <td>{{tipoDocumento}}</td>
                <td>{{subTipoDocumento}}</td>
                <td>{{periodo}}</td>
                <td>{{codigoCodificacion}}</td>
                <td>{{numPaginas}}</td>
                <td>{{asunto}}</td>
                <td>{{observaciones}}</td>
                <td>

                    <a href="/notes/view/{{_id}}" class="btn btn-info btn-sm common-btn" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span class="ml-2">Visualizar</span>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        {{/if}}
        {{/if}}
        <!-- Si el usuario es editor, entonces muestra las opciones de editar,eliminar y visualizar-->

    </table>
</div>

{{#if isEditor}}
<div class="mt-4">
    <a href="/notes/add" class="btn btn-primary">
        <i class="fas fa-plus"></i> <!-- Ícono -->
        <span class="ml-2">Nuevo Documento</span> <!-- Texto con margen a la izquierda (ml-2) -->
    </a>
</div>
{{/if}}


<!-- DataTables CSS and JavaScript files -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<!-- DataTables Spanish Language File -->
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"></script>

<script src="/js/script.js"></script>
<script>
    // Configuración de DataTables
    $(document).ready(function () {
        $('#archiveTable').DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            scrollX: true // Esta opción permite que la barra de desplazamiento horizontal aparezca
        });
    });
</script>