{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}
<!-- Script que pasa como parametro el area a la funcion actualizarSubArea de los scripts-->

<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header bg-dark text-center">
            <h3 class="text-white">Actualizar Documento</h3>
        </div>
        <div class="card-body">
            <form action="/notes/edit-notes/{{note._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT" />
                <!-- Add the following code for the fields you mentioned -->

                <!--boton oculto que carga los campos de la base de datos-->
                <a href="#" id="cargarCampos" class="btn btn-primary" onclick="actualizarSubArea('{{note.area}}','{{note.subArea}}','{{note.tipoDocumento}}','{{note.subTipoDocumento}}','{{note.periodo}}')" hidden>Abrir Página Web</a>

                <div class="mb-3">
                    <label for="carrera">Carrera:</label>
                    <select id="carrera" name="carrera">
                        {{#if_equal note.carrera "Computación"}}
                        <option value="Computación" selected>Computación</option>
                        <option value="Software">Software</option>
                        {{else}}
                        <option value="Computación">Computación</option>
                        <option value="Software" selected>Software</option>
                        {{/if_equal}}
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="subArea">Subárea:</label>
                    <select id="subArea" name="subArea"
                        onchange="actualizarTipoDocumento('{{note.area}}','{{note.tipoDocumento}}','{{note.subTipoDocumento}}','{{note.periodo}}')">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="tipoDocumento">Tipo de Documento:</label>
                    <select id="tipoDocumento" name="tipoDocumento"
                        onchange="actualizarSubtipoDocumento('{{note.area}}','{{note.subTipoDocumento}}')">
                        <script>
                            console.log("{{note.subTipoDocumento}}");
                        </script>
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="subTipoDocumento">Subtipo de Documento:</label>
                    <select id="subTipoDocumento" name="subTipoDocumento">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="periodo">Perido/Año:</label>
                    <select id="periodo" name="periodo" onchange="actualizarCodigoCodificacion('{{note.area}}')">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="codigoCodificacion">Codificación:</label>
                    <input type="text" id="codigoCodificacion" name="codigoCodificacion" readonly>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="asunto">Asunto:</label>
                    <textarea id="asunto" name="asunto" rows="3" cols="35">{{note.asunto}}</textarea>
                    <!-- Puedes ajustar rows y cols según tus necesidades -->
                    <br>
                </div>

                <div class="mb-3">
                    <label for="observaciones">Observaciones:</label>
                    <textarea id="observaciones" name="observaciones" rows="3"
                        cols="35">{{note.observaciones}}</textarea>
                    <!-- Puedes ajustar rows y cols según tus necesidades -->
                    <br>
                </div>

                <div class="d-flex justify-content-between mb-3">
                    <a href="/notes" class="btn btn-primary"><i class="fas fa-times"></i> Cancelar</a>
                    <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/scriptsEditDoc.js">

</script>